<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Villes Liste</title>

    <!--scipts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            // manage table fct (search + page management)
            $(document).ready(function () {
                $('.mytable').DataTable({
                    "pagingType": "full_numbers"
                });
            });

            // append table with add row form on add new button click
            $(".addnew").click(function () {
                $(this).attr("disabled", "disabled");
                var index = $("mytable tbody tr:last-child").index();
                var row =
                    '<tr>' +
                    '<td><input type="text" name="id" id="txtid"></td>' +
                    '<td><input type="text" name="nom" id="txtnom"></td>' +
                    '<td><input type="text" name="codepostal" id="txtcodepostal"></td>' +
                    '<td><button type="button" class="validate">Ok</button></td>' +
                    '</tr>';
                $("table").append(row);
            });

            // add row on add button click
            $(document).on("click", ".validate", function () {
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function () {
                    if (!$(this).val()) {
                        $(this).addClass("error");
                        empty = true;
                    } else {
                        $(this).removeClass("error");
                    }
                });
                // buttons post methode
                var txtid = $("#txtid").val();
                var txtnom = $("#txtnom").val();
                var txtcodepostal = $("#txtcodepostal").val();
                $.post("/ajax_add", { txtid: txtid, txtnom: txtnom, txtcodepostal: txtcodepostal });
                //
                $(this).parents("tr").find(".error").first().focus();
                if (!empty) {
                    input.each(function () {
                        $(this).parent("td").html($(this).val());
                    });
                    $(this).parents("tr").find(".validate").toggle();
                    $(this).parents("td").append('<button type="button" class="delete">Delete</button>');
                    $(".addnew").removeAttr("disabled");
                }
            });

            // Delete row on delete button click
            $(document).on("click", ".delete", function () {
                $(this).parents("tr").remove();
                $(".add-new").removeAttr("disabled");
                var id = $(this).attr("id");
                // button post methode 
                $.post("/ajax_delete", { ville_id: id });
            });

        });
    </script>


    <!--style-->
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }

        th {
            cursor: pointer;
        }

        .paginate_button {
            background-color: rgb(236, 236, 236);
            border: 1px solid gray;
            border-radius: 5px;
            padding: 3px 5px;
            text-align: center;
            display: inline-block;
        }

        .paginate_button:hover {
            background-color: lightgrey;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div class="col-sm-4">
        <button type="button" class="addnew">Add New</button>
    </div>

    <table class="mytable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ville_nom %}
            <tr>
                <td>{{row.ville_id}}</td>
                <td>{{row.ville_nom}}</td>
                <td>{{row.ville_code_postal}}</td>
                <td>
                    <button type="button" class="delete" id="{{row.ville_id}}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>